:root {
  -background-color: black;
  -secondary-color: #282323;
  -special-text-color: #f65282;
  -p-font-family: "Poppins", sans-serif;
  -h-font-family: "Playfair Display", serif;
}

body {
  font-family: var(-p-font-family);
  font-weight: normal;
}

.hero h2,
h3 {
  font-family: var(-p-font-family);
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-family: var(-h-font-family);
  font-weight: bold;
  font-size: 96px;
}

h3 {
  font-weight: normal;
}

h2 {
  font-weight: bold;
  padding-top: 100px;
}
