/* p {
    font-family:'Indie Flower', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
} */

/* h1,
h2,
h3 {
  font-family: "Indie Flower", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
} */
