:root {
  --secondary-color: #282323;
  --special-text-color: #f65282;
  --p-font-family: "Poppins", sans-serif;
  --h-font-family: "Playfair Display", serif;
  --secondary-text-color: #777a7c;
}

body {
  font-family: var(--p-font-family);
  font-weight: normal;
}

.hero h2,
h3 {
  font-family: var(--p-font-family);
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-family: var(--h-font-family);
  font-weight: bold;
  font-size: 96px;
}

h3 {
  font-weight: normal;
  color: var(--secondary-text-color);
}

h2 {
  font-weight: bold;
  padding-top: 100px;
}

.me-image {
  max-width: 350px;
  border-radius: 50%;
}

.p-index {
  background-color: var(--secondary-color);
  color: white;
  text-align: left;
  line-height: 40px;
}

.p-about {
  background-color: var(--secondary-color);
  color: white;
  text-align: left;
  line-height: 40px;
  margin-bottom: 10px;
}

.p-projects {
  background-color: var(--secondary-color);
  color: white;
  text-align: left;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 54px;
  }
  h3 {
    font-size: 16px;
  }
  .p-color {
    text-align: center;
    line-height: normal;
  }
  .project-pic {
    display: none;
  }
  .p-projects {
    text-align: center;
  }
  .p-about {
    text-align: center;
  }
  .p-about-description {
    text-align: center;
    margin-bottom: 10px;
  }
  .contact-pre {
    margin-top: 20px;
  }
}

.hero h3 {
  margin-bottom: 80px;
}

.skills {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.hero-container {
  max-width: 80%;
  margin: 0 auto;
}

i {
  font-size: 30px;
}

.hero-diff {
  padding-top: 20px;
  padding-bottom: 50px;
}

.certifications {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.certifications img {
  margin-bottom: 20px;
}

.img-cer {
  max-width: 200px;
}

.social-media {
  letter-spacing: 10px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.p-social-media {
  margin-top: 60px;
  text-align: center;
  color: var(--secondary-text-color);
}
i:hover {
  scale: 1.1;
}
.certifications img:hover {
  scale: 3;
  cursor: context-menu;
}

.window-container {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 80%;
}

.spec {
  color: var(--special-text-color);
}

.launch-web {
  padding: 10px;
  border-radius: 6px;
  background-color: var(--secondary-color);
  color: white;
  border-color: black;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.project-link {
  text-decoration: none;
  color: white;
}

.project-pic {
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 4px;
  filter: grayscale();
}

.project-pic:hover {
  filter: none;
}

.p-about-description {
  font-family: var(--p-font-family);
  font-size: 20px;
}

.email {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.contact {
  display: block;
  text-align: center;
}
.contact-pre {
  font-size: 20px;
  text-align: center;
}

.p-contact {
  background-color: var(--secondary-color);
  color: white;
  text-align: left;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 50px;
  padding: 30px;
  margin-bottom: 120px;
}
.launch-web:hover {
  background-color: white;
  color: black;
}

.link-git {
  text-decoration: none;
  color: var(--secondary-text-color);
  text-align: center;
  margin-top: 80px;
}
